{% extends "base.html" %}

{% load static %}

{% block script %}
  <script type="text/javascript" src="{% static 'my-js/single-product.js' %}"></script> 
{% endblock script %}

{% block breadcrumb_start %}
  Home / Checkout
{% endblock breadcrumb_start %}

{% block content %}

  <!--================Checkout Area =================-->
  <section class="checkout_area section_padding">
    <div class="container">
  
      <div class="billing_details">
        <div class="row">
          <div class="col-lg-8">
            <h3>Billing Details</h3>
            <hr>
            <div class="col-md-8">
            <form class="form-group" action="checkout_payment/" method="post">
              {% csrf_token %}
              <p name="name"><strong> Vo Khac Thanh</strong> </p>
              <p name="address-1">Domitory Zone A - Vietnam National University </p>
              <p name="address-2"></p>
              <p name="city-and-zip">Hochiminh, 700000</p>
              <p name="province-state"> Linh Trung Ward, Thu Duc District </p>
              <p name="country">Vietnam</p>
              <p name="phone">Phone: 0399505707 </p>
              <br>
              <button type="submit" class="btn_3" >Deliver to this address
            </form>
            </div>
            <hr>
              <div class="creat_account">
                <h3>Add a new address</h3>
                <form class="row contact_form" action="#" method="post">
                  {% csrf_token %}
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="first" name="full-name" required />
                    <span class="placeholder" data-placeholder="First name"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="add1" name="address-1" required/>
                    <span class="placeholder" data-placeholder="Address line 01"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="add2" name="address-2" required />
                    <span class="placeholder" data-placeholder="Address line 02"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="number" name="phone-number" required />
                    <span class="placeholder" data-placeholder="Phone number"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="city" name="city" required />
                    <span class="placeholder" data-placeholder="Town/City"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <input type="text" class="form-control" id="province" name="province-state" />
                    <span class="placeholder" data-placeholder="Province/State/Region"></span>
                  </div>
                  <div class="col-md-12 form-group p_star">
                    <select class="country_select">
                      <option value="1">Country</option>
                      <option value="2">Country</option>
                      <option value="4">Country</option>
                    </select>
                  </div>
                  <div class="col-md-12 form-group">
                    <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" />
                  </div>
                   <button type="submit" class="btn_3" onClick='goCheckout_payment()">Deliver to the address
                </form>
              </div>
            </div>
          <div class="col-lg-4">
            <div class="order_box">
              <h2>Your Order</h2>
              <ul class="list">
                <li>
                  <a href="#">Product
                    <span>Total</span>
                  </a>
                </li>
                {% for product in products %}
                  <li>
                    <a href="#">{{product.product_name}}
                      <span class="middle">x 02</span>
                      <span class="last">${{product.price}}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
              <ul class="list list_2">
                <li>
                  <a href="#">Subtotal
                    <span>$2160.00</span>
                  </a>
                </li>
                <li>
                  <a href="#">Shipping
                    <span>Flat rate: $50.00</span>
                  </a>
                </li>
                <li>
                  <a href="#" >Total
                    <span>$2210.00</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Checkout Area =================-->

{% endblock content %}