{% extends "base.html" %}

{% load static %}

{% block script %}
    <!--<script type="text/javascript" src="{% static 'my-js/single-product.js' %}"></script> -->
{% endblock script %}

{% block breadcrumb_start %}
    Home / Checkout
{% endblock breadcrumb_start %}

{% block content %}

    <!--================login_part Area =================-->
    <section class="login_part section_padding">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12 col-md-12 border">
                    <div class="login_part_form">
                        <div class="login_part_form_iner">
                            <h3>Welcome Seller ! <br>
                                Register Form</h3>
                            <form class="row contact_form" action="#" method="post" >
                                <div class="col-md-12 form-group p_star">
                                    <b style="color: black;">Phone Number</b>
                                    <input type="text" class="form-control" id="phone-number" name="phone-number" value=""
                                        placeholder="Phone Number" required>
                                </div>
                                <div class="col-md-12">
                                    <b style="color: black;">Business Address</b>
                                    <div class="border mb-4 mt-2">
                                        <div class="col-md-12 form-group p_star mt-4">
                                            <input type="text" class="form-control" id="first" name="full-name" required />
                                            <span class="placeholder" data-placeholder="First name"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="add1" name="address-1" required/>
                                            <span class="placeholder" data-placeholder="Address line 01"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="add2" name="address-2" required />
                                            <span class="placeholder" data-placeholder="Address line 02"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="number" name="phone-number" required />
                                            <span class="placeholder" data-placeholder="Phone number"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="city" name="city" required />
                                            <span class="placeholder" data-placeholder="Town/City"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <input type="text" class="form-control" id="province" name="province-state" />
                                            <span class="placeholder" data-placeholder="Province/State/Region"></span>
                                        </div>
                                        <div class="col-md-12 form-group p_star">
                                            <select class="country_select">
                                            <option value="1">Country</option>
                                            <option value="2">Country</option>
                                            <option value="4">Country</option>
                                            </select>
                                        </div>
                                        <div class="col-md-12 form-group">
                                            <input type="text" class="form-control" id="zip" name="zip" placeholder="Postcode/ZIP" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12 row" >
                                    <div class="col-md-12"><b style="color: black;">Business Card</b></div>
                                    <div class="col-md-3 mt-3 form-group p_star">
                                        <label for="card-holder"> Card Holder</label>
                                        <input type="text" class="form-control" name="card-holder" placeholder="Name on Card" />
                                        </div>
                                    <div class="col-md-4 mt-3">
                                        <label for="card-number"> Card Number </label>
                                        <input type="text" class="form-control" name="card-number" placeholder="Card Number" />
                                        </div>
                                    <div class="col-md-4 mt-3">
                                        <h4>Select expiration date:</h4>
                                        <div class="row">
                                        <select class="list">
                                            <option value="01"> 01 </option>
                                            <option value="02"> 02 </option>
                                            <option value="03"> 03 </option>
                                            <option value="04"> 04 </option>
                                            <option value="05"> 05 </option>
                                            <option value="06"> 06 </option>
                                            <option value="07"> 07 </option>
                                            <option value="08"> 08 </option>
                                            <option value="09"> 09 </option>
                                            <option value="10"> 10 </option>
                                            <option value="11"> 11 </option>
                                            <option value="12"> 12 </option>
                                        </select>
                                        
                                        <select class="list mx-2">
                                            <option value="20"> 20 </option>
                                            <option value="21"> 21 </option>
                                            <option value="22"> 22 </option>
                                            <option value="23"> 23 </option>
                                            <option value="24"> 24 </option>
                                            <option value="25"> 25 </option>
                                        </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 mt-3">
                                    <p><b style="color: black;">Company Name</b></p>
                                    <input type="text" class="form-control" id="company_name" name="company_name" value=""
                                        placeholder="Company Name" required>
                                </div>

                                <div class="col-md-6 mt-3">
                                    <p><b style="color: black;">Postal/Zip Code</b></p>
                                    <input type="text" class="form-control" id="postal" name="postal" value=""
                                        placeholder="Postal/Zip Code" required>
                                </div>
                                <div class="col-md-6"></div>
                            </div>
                        </div>     
                                <div class="col-md-12 form-group">
                                    <button onclick="register_seller()" type="submit" value="submit" class="btn_3" >
                                        I'm Ready!
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================login_part end =================-->

    <!--================script start =================-->
    <script> 
    function register_seller(){
        alert("Đăng ký user seller");
        goHomePage();
    }
    </script>
    <!--================script end =================-->

{% endblock content %}

